Website/S-Interior/Connected Services/FinalService/Functions2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57307/Functions.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FinalService" />
  <xs:element name="checkUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewFurninture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="f" nillable="true" type="q1:classFurninture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewFurnintureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewFurnintureResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewInterior">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="i" nillable="true" type="q2:classInterior" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewInteriorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewInteriorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInterior">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInteriorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="getInteriorResult" nillable="true" type="q3:classInterior" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="getCustomerResult" nillable="true" type="q4:classUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="liestDesigns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="room" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="liestDesignsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="liestDesignsResult" nillable="true" type="q5:ArrayOfInteriorTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAboutInterior">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAboutInteriorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="getAboutInteriorResult" nillable="true" type="q6:ArrayOfInteriorTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listFuniture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="interiorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listFunitureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="listFunitureResult" nillable="true" type="q7:ArrayOfFurnitureTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="c" nillable="true" type="q8:classCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="useID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="listCartResult" nillable="true" type="q9:ArrayOfcartTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listCartFuniture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="furInt" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listCartFunitureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="listCartFunitureResult" nillable="true" type="q10:ArrayOfFurnitureTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emails" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="listUserResult" nillable="true" type="q11:ArrayOfUserTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAllResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="furnID" type="xs:int" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchCartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTempCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="furnID" type="xs:int" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTempCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchTempCartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="useId" type="xs:int" />
        <xs:element minOccurs="0" name="furID" type="xs:int" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editCartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editRegOder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="useId" type="xs:int" />
        <xs:element minOccurs="0" name="Odernum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editRegOderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editRegOderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTempCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="useId" type="xs:int" />
        <xs:element minOccurs="0" name="furID" type="xs:int" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTempCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editTempCartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="useId" type="xs:int" />
        <xs:element minOccurs="0" name="furID" type="xs:int" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editDeleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTempDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="useId" type="xs:int" />
        <xs:element minOccurs="0" name="furID" type="xs:int" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTempDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editTempDeleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCartFurniture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="useId" type="xs:int" />
        <xs:element minOccurs="0" name="furID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCartFurnitureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCartFurnitureResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTempCartFurniture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="useId" type="xs:int" />
        <xs:element minOccurs="0" name="furID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTempCartFurnitureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteTempCartFurnitureResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFurniture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="furID" type="xs:int" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFurnitureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFurnitureResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAboutFurniture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAboutFurnitureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="getAboutFurnitureResult" nillable="true" type="q12:ArrayOfFurnitureTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="furID" type="xs:int" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editQuantityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUserMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUserMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editUserMoneyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInterior">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInteriorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteInteriorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUserPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUserPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editUserPointResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTempQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="furID" type="xs:int" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTempQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editTempQuantityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="u" nillable="true" type="q13:classUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userRegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userTempRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="u" nillable="true" type="q14:classUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userTempRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTempRegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleleUserPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleleUserPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleleUserPointResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPointsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="or" nillable="true" type="q15:clsOders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addOderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTempcart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="s" nillable="true" type="q16:classSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTempcartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addTempcartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listDesigns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomtype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listDesignsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="listDesignsResult" nillable="true" type="q17:ArrayOfInteriorTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listTempCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listTempCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="listTempCartResult" nillable="true" type="q18:ArrayOfSessionCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSessionUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addSessionUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSessionUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTempOder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="or" nillable="true" type="q19:clsOders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTempOderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addTempOderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateReferenceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listRegisteredUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listRegisteredUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="listRegisteredUsersResult" nillable="true" type="q20:ArrayOfUserTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listRegisteredTempUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listRegisteredTempUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="listRegisteredTempUsersResult" nillable="true" type="q21:ArrayOfSessionUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAbautUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAbautUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="getAbautUsersResult" nillable="true" type="q22:ArrayOfUserTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dates" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="getRecCustomersResult" nillable="true" type="q23:ArrayOfUserTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="SearchOdersResult" nillable="true" type="q24:ArrayOfOder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllOders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="condtion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllOdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="listAllOdersResult" nillable="true" type="q25:ArrayOfOder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllTempOders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="condtion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllTempOdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="listAllTempOdersResult" nillable="true" type="q26:ArrayOfOdersByTempUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="condtion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usrID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="listAllInvoiceResult" nillable="true" type="q27:ArrayOfInvoiceTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listIvoiceItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="condtion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listIvoiceItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="listIvoiceItemsResult" nillable="true" type="q28:ArrayOfInvoiceItme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllFunitures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="room" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAllFunituresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="listAllFunituresResult" nillable="true" type="q29:ArrayOfFurnitureTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addnewInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="c" nillable="true" type="q30:classInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addnewInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addnewInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addnewInvoiceItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/FinalService" minOccurs="0" name="c" nillable="true" type="q31:clsOders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addnewInvoiceItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addnewInvoiceItemsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>